.no_encontrados{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.enlace{
    color: var(--negro);
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem 5rem;
    border: 1px solid var(--primary);
    transition-property: background-color;
    transition-duration: .3s;
}
.enlace:hover{
    background-color: var(--primary);
    color: var(--blanco);
}